{{ "<!-- Clients -->" | safeHTML }}
<aside class="clients">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4 class="heading">
          {{ with .Title }}{{ . | markdownify }}{{ end }}
        </h4>
      </div>
    </div>
    <div class="row flexbox{{ if .Params.style.center }} flexbox-center{{ end }}">
      {{ range sort .Params.clients }}
        <div class="col-md-3 col-sm-6 col">
          {{ $url := printf "img/clients/%s" .logo }} 
          {{ if .link }}
            <a href="{{ .link }}">
              <img src="{{ $url | absURL }}" class="img-responsive img-centered" alt="{{ .name }}">
            </a>
          {{ else }}
            <img src="{{ $url | absURL }}" class="img-responsive img-centered" alt="{{ .name }}">
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
</aside>
