{{ $data := ($.Scratch.Get "data").contact }}
{{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        {{ with $data.title }}
          <h2 class="section-heading">{{ . | markdownify }}</h2>
        {{ end }}
        {{ with $data.subtitle }}
          <h3 class="section-subheading text-muted">{{ . | markdownify }}</h3>
        {{ end }}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        {{ if not $data.postURL }}
          <form  action="//formspree.io/{{ with $data.email }}{{ . }}{{ end }}" method="POST" name="sentMessage" id="contactForm">
        {{ else }}
          <form  action="{{ $data.postURL }}" method="POST" name="sentMessage" id="contactForm">
        {{ end }}
            <div class="row">
              <div class="col-md-6">
                {{ with $data.fields.name }}
                  <div class="form-group">
                    <input class="form-control" id="name" required="required" type="text" name="name" placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}" data-validation-error-msg="{{ with .warning }}{{ . | markdownify }}{{ end }}">
                    <p class="help-block text-danger"></p>
                  </div>
                {{ end }}
                {{ with $data.fields.email }}
                  <div class="form-group">
                    <input class="form-control" id="email" required="required" type="email" name="email" placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}" data-validation-error-msg="{{ with .warning }}{{ . | markdownify }}{{ end }}">
                    <p class="help-block text-danger"></p>
                  </div>
                {{ end }}
                {{ with $data.fields.phone }}
                  <div class="form-group">
                    <input class="form-control" id="phone" required="required" type="text" name="phone" placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}" data-validation-error-msg="{{ with .warning }}{{ . | markdownify }}{{ end }}">
                    <p class="help-block text-danger"></p>
                  </div>
                {{ end }}
              </div>
              <div class="col-md-6">
                {{ with $data.fields.message }}
                  <div class="form-group">
                    <textarea class="form-control" id="message" required="required" name="message" placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}" data-validation-error-msg="{{ with .warning }}{{ . | markdownify }}{{ end }}"></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                {{ end }}

              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div class="text-success" id="success" style="display:none;">
                  {{ with $data.message.success }}
                    {{ . | markdownify }}
                  {{ else }}
                    {{ i18n "contact.defaultSuccess" }}
                  {{ end }}
                </div>
                <div class="text-danger" id="error" style="display:none;">
                  {{ with $data.message.error }}
                    {{ . | markdownify }}
                  {{ else }}
                    {{ i18n "contact.defaultError" }} {{ $data.email }}.
                  {{ end }}
                </div><br />
                <noscript>
                  <div class="text-danger" id="js-error">
                    {{ i18n "contact.jsError" }} {{ $data.email }}.
                  </div>
                </noscript>
                {{ if $data.postURL }}
                  {{ with .Site.Params.contact.captcha }}
                    <div class="text-danger" id="val-error" style="display:none;">
                    {{ i18n "contact.valError" }} {{ $data.email }}.
                    </div>
                    <button type="submit" disabled="disabled" class="btn btn-xl g-recaptcha" data-sitekey="{{ .sitekey }}" data-callback="onSubmit" data-badge="inline">{{ $data.button | default (i18n "contact.defaultButton") }}</button>
                  {{ else }}
                    <button type="submit" disabled="disabled" class="btn btn-xl">{{ $data.button | default (i18n "contact.defaultButton") }}</button>
                  {{ end }}
                {{ end }}
              </div>
            </div>
            {{ range $data.fields.hidden }}
              {{ if eq .name "site" }}
                <input type="hidden" name="{{ .name }}" value="{{ $.Page.Permalink }}"/>
              {{ else if eq .name "page" }}
                <input type="hidden" name="{{ .name }}" value="{{ $.Page.URL }}"/>
              {{ else }}
                <input type="hidden" name="{{ .name }}" value="{{ .value }}"/>
              {{ end }}
            {{ end }}
        </form>
      </div>
    </div>
  </div>
</section>
