{{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        {{ with .Site.Params.contact.title }}
        <h2 class="section-heading">{{ . | markdownify }}</h2>
        {{ end }}

        {{ with .Site.Params.contact.subtitle }}
        <h3 class="section-subheading text-muted">{{ . | markdownify }}</h3>
        {{ end }}

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        {{ if not .Site.Params.contact.postURL }}
        <form  action="//formspree.io/{{ with .Site.Params.email }}{{.}}{{ end }}" method="POST" name="sentMessage" id="contactForm" novalidate>
        {{ else }}
        <form  action="{{ .Site.Params.contact.postURL }}" method="POST" name="sentMessage" id="contactForm" novalidate>
        {{ end }}

          <div class="row">
            <div class="col-md-6">

              {{ with .Site.Params.contact.form.name }}
              <div class="form-group">
                <input type="text" class="form-control" placeholder="{{ with .text }}{{ .  | markdownify }}{{ end }}" name="name" required data-validation-required-message="{{ with .warning }}{{ . | markdownify}}{{ end }}">
                <p class="help-block text-danger"></p>
              </div>
              {{ end }}

              {{ with .Site.Params.contact.form.email }}
              <div class="form-group">
                <input type="email" class="form-control" placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}" name="email" required data-validation-required-message="{{ with .warning }}{{ . | markdownify }}{{ end }}">
                <p class="help-block text-danger"></p>
              </div>
              {{ end }}

              {{ with .Site.Params.contact.form.phone }}
              <div class="form-group">
                <input type="tel" class="form-control" placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}" name="phone" required data-validation-required-message="{{ with .warning }}{{ . | markdownify }}{{ end }}">
                <p class="help-block text-danger"></p>
              </div>
              {{ end }}
            </div>

            <div class="col-md-6">
              {{ with .Site.Params.contact.form.message }}
              <div class="form-group">
                <textarea class="form-control" placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}" name="message" required data-validation-required-message="{{ with .warning }}{{ . | markdownify }}{{ end }}"></textarea>
                <p class="help-block text-danger"></p>
              </div>
              {{ end }}
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button type="submit" class="btn btn-xl">{{ with .Site.Params.contact.buttonText }}{{ . }}{{ end }}</button>
            </div>
          </div>
          {{ range .Site.Params.contact.form.hidden }}
            {{ if eq .name "site" }}
              <input type="hidden" name="{{ .name }}" value="{{ $.Permalink }}"/>
            {{ else if eq .name "page" }}
              <input type="hidden" name="{{ .name }}" value="{{ $.URL }}"/>
            {{ else }}
              <input type="hidden" name="{{ .name }}" value="{{ .value }}"/>
            {{ end }}
          {{ end }}
        </form>
      </div>
    </div>
  </div>
</section>
