{{ $data := ($.Scratch.Get "data").hero }}
{{ "<!-- Hero -->" | safeHTML }}
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">{{ with $data.title }}{{ . }}{{ end }}</div>
      <div class="intro-heading">{{ with $data.subtitle }}{{ . | markdownify }}{{ end }}</div>
      {{ if $data.button }}
        <a href="{{ $data.link | relLangURL }}" class="{{ if hasPrefix $data.link "#" }}anchor {{ end }}page-scroll btn btn-xl">{{ $data.button }}</a>
      {{ end }}
    </div>
  </div>
</header>
