{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/jquery-v3.3.1/jquery.min.js"></script>

{{ "<!-- Bootstrap Core -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/bootstrap-v3.3.7/bootstrap.min.js"></script>

{{ "<!-- Form Validation -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/jquery.form-validator-v2.3.44/jquery.form-validator.min.js"></script>

{{ "<!-- Custom Theme -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/agency.js"></script>

{{ template "_internal/google_analytics_async.html" . }}

{{ if .Site.Params.analytics.piwik }}
  {{ partial "_analytics/piwik.html" . }}
{{ end }}

{{ range .Site.Params.custom_js }}
  <script src="{{ . | absURL }}"></script>
{{ end }}
