<div class="col-sm-4 col">
  <div class="team-member">
    <img src="/img/team/{{ .img }}" class="img-responsive img-circle" alt="">
    <h3>{{ .title }}</h3>
    {{ with .position }}
      <h4>{{ . | markdownify }}</h4>
    {{ end }}
    {{ with .reportsTo }}
      <h5 class="report">{{ i18n "team.reportsTo" }} {{ . | markdownify }}</h5>
    {{ end }}
    {{ with .livesIn }}
      <h5>{{ i18n "team.livesIn" }} {{ . | markdownify }}</h5>
    {{ end }}
    {{ with .scope }}
    <ul>
      {{ range . }}
        <li>{{ . | markdownify }}</li>
      {{ end }}
    </ul>
    {{ end }}
    <ul class="list-inline social-buttons">
      {{ range .social }}
        <li><a href="{{ .link }}"><i class="fa {{ .icon }}"></i></a></li>
      {{ end }}
    </ul>
    {{ with .content }}
    <p class="team-bio">{{ . | markdownify }}</p>
    {{ end }}
  </div>
</div>
