{{ $data := ($.Scratch.Get "data").contact }}
{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range $data.references }}
  <div class="portfolio-modal modal fade" id="portfolioModal{{ .ID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
     <div class="container">
      <div class="row">
        <div class="col-lg-6">
          {{ $url := printf "img/portfolio/%s" .img }}
          <div class="modal-content">
            <div class="modal-body">
              <h2>{{ .title }}</h2>
              <p class="item-intro text-muted">{{ .subtitle | markdownify }}</p>
              <img class="img-responsive img-centered" src="{{ $url | absURL }}" alt="">
              <p>{{ .content }}</p>
              <ul class="list-inline">
                {{ if .date }}
                  <li>{{ i18n "modal.date" }} {{ .date }}</li>
                {{ end }}
                {{ if .client }}
                  <li>{{ i18n "modal.client" }} <a href="{{ .Params.clientLink }}">{{ .client }}</a></li>
                {{ end }}
                {{ with .category }}
                  <li>{{ i18n "modal.category" }} {{ . }}</li>
                {{ end }}
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal">
                <i class="fa fa-times"></i> {{ with .button }}{{ . }}{{ end }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
