{{ "<!-- Services -->" | safeHTML }}
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          {{ with .Title }}{{ . }}{{ end }}
        </h2>
        <h3 class="section-subheading text-muted">
          {{ with .Params.subtitle }}{{ . | markdownify }}{{ end }}
        </h3>
      </div>
    </div>
    <div class="row flexbox{{ if .Params.style.center }} flexbox-center{{ end }} text-center">
      {{ range sort (where .Site.Pages "Section" "index") }}
        {{ $perm := add $.Site.LanguagePrefix "/index/services/" }}
        {{ if and (in .RelPermalink $perm) (ne .RelPermalink $perm) }}
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa {{ .Params.icon }} fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">
              {{ if .Params.link }}
                <a href="{{ .Params.link | relLangURL }}">{{ .Title }}</a>
              {{ else }}
                {{ .Title }}
              {{ end }}
            </h4>
            <p class="text-muted">{{ .Content }}</p>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>
