{{ "<!-- Timeline Section -->" | safeHTML }}
<section id="timeline">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          {{ with .Title }}{{ . | markdownify }}{{ end }}
        </h2>
        <h3 class="section-subheading text-muted">
          {{ with .Params.subtitle }}{{ . | markdownify }}{{ end }}
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          {{ $.Scratch.Set "counter" 1 }}
          {{ range sort (where .Site.Pages "Section" "index") }}
            {{ $perm := add $.Site.LanguagePrefix "/index/timeline/" }}
            {{ if and (in .RelPermalink $perm) (ne .RelPermalink $perm) }}
              {{ $i := $.Scratch.Get "counter" }}
              <li {{ if (not (modBool $i 2)) }}class="timeline-inverted" {{ end }}>
                {{ $url := printf "img/timeline/%s" .Params.img }} 
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="{{ $url | absURL }}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>{{ .Params.time }}</h4>
                    <h4 class="subheading">{{ .Title }}</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">{{ .Content }}</p>
                  </div>
                </div>
              </li>
              {{ $.Scratch.Add "counter" 1 }}
            {{ end }}
          {{ end }}
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>
                {{ with .Params.endpoint }}{{ . | markdownify }}{{ end }}
              </h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
